<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add a new comment</h1>
    <form action="http://localhost:3000/comments" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" />
      <br />
      <label for="textarea">comment</label>
      <textarea name="comment" id="textarea" cols="30" rows="10"></textarea>
      <button>Submit</button>
      <a href="/comments">back to comments</a>
    </form>
  </body>
</html>
